body {
    background-image: url(../images/body.png);
    background-repeat: repeat;
    background-position: top center;
    background-attachment: scroll;
<<<<<<< HEAD
}
header#section-header {
    background: rgba(125,125,125,0.1);
    border: none;
    padding: 22px 0 25px;
    border-bottom: 1px solid #dadada;
}
#block-system-main{
    background: #fff;
    box-shadow: 5px 5px 3px #888888;
    padding: 0 5px 0 10px;
=======
    color: #878383;
}
header#section-header {
    background: rgba(125,125,125,0.1);
    border: none;
    padding: 22px 0 25px;
    border-bottom: 1px solid #dadada;
}
#block-system-main{
    background: #fff;
    box-shadow: 5px 5px 3px #888888;
    padding: 0 5px 0 10px;
}

/*
 * Global
 */
* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}
a,
a:link,
a:visited {
	text-decoration: none;
}
ul {
	list-style: none;
}
ul li.leaf {
	list-style-type: none;
	list-style-image: none;
}

/*
 * List link on sidebar-first
 */
#block-menu-menu-left-menu .block-title {
	text-transform: uppercase;
	color: #fff;
	background-color: #a62d1d;
	padding: 10px 15px;
}
#block-menu-menu-left-menu .block-title:before {
	content: ">";
	display: inline;
	padding: 0 10px 0 0;
}
#block-menu-menu-left-menu .content {
	border: 1px solid #c9c6c6;
	background-color: #ffffff;
	padding: 20px;
}
#block-menu-menu-left-menu ul.menu li {
	margin: 0 0 10px 0;
}
#block-menu-menu-left-menu ul.menu li:before {
	content: ">";
	display: inline;
	color: #bb2e1b;
	padding: 0 10px 0 0;
}
#block-menu-menu-left-menu ul.menu a {
	color: #bb2e1b;
	text-transform: uppercase;
}
/*
 * Footer
 */
.section-footer {
	background-color: #fff;
	padding: 10px 0;
}
#block-block-1 .fotter-info{
	text-transform: uppercase;
	font-size: 20px;
}
#block-block-1 .copy-right {
	margin: 10px 0 0;
>>>>>>> branch 'master' of https://github.com/nhanlego1/songlap.git
}
