@font-face {
    font-family: 'MYRIADPROREGULAR';
    src: url('../font/MYRIADPROREGULAR.eot');
    src: local('MYRIADPROREGULAR'), url('../font/MYRIADPROREGULAR.woff') format('woff'), url('../font/MYRIADPROREGULAR.ttf') format('truetype');
}
@font-face {
    font-family: 'phosphateinline';
    src: url('../font/phosphate-inline-webfont.eot');
    src: url('../font/phosphate-inline-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/phosphate-inline-webfont.woff2') format('woff2'),
    url('../font/phosphate-inline-webfont.woff') format('woff'),
    url('../font/phosphate-inline-webfont.ttf') format('truetype'),
    url('../font/phosphate-inline-webfont.svg#phosphateinline') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
    background-image: url(../images/body.png);
    background-repeat: repeat;
    background-position: top center;
    background-attachment: scroll;
    font-family: "Open Sans";
}
#zone-user-wrapper {
    background: rgba(125,125,125,0.1);
}
#zone-branding-wrapper {
	border-bottom: 1px solid #dadada;
	background: rgba(125,125,125,0.1);
	padding: 0 0 5px 0;
}
#block-system-main{
    background: #fff;
    box-shadow: 5px 5px 3px #888888;
    color: #878383;
    padding: 15px;
}

/*
 * Global
 */
* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}
a,
a:link,
a:visited {
	text-decoration: none;
	font-family: "MYRIADPROREGULAR";
	color: #bb2e1b;
}
a:hover {
	color: #62605f;
}
ul {
	list-style: none;
}
ul li.leaf {
	list-style-type: none;
	list-style-image: none;
}
form {
	position: relative;
}
input[type="text"],
input[type="email"] {
	max-width: 100%;
	padding: 14px 20px;
	border: 1px solid #c4c2c3;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
textarea {
	max-width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 14px 20px;
	border: 1px solid #c4c2c3;
}

img, media {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
/*
 * Block locale Language
 */
#block-locale-language {
	text-align: right;
    position: relative;
    top: 34px;
    z-index: 20;
}
#block-locale-language .language-switcher-locale-url {
	display: block;
	width: 100%;
	margin: 0;
}
.language-switcher-locale-url li {
	display: inline-block;
	margin: 0 15px 0 0;
}
.language-switcher-locale-url li:last-child {
	margin: 0;
}
.language-switcher-locale-url li a,  .language-switcher-locale-url li span{
	font-size: 0;
	width: 35px;
	height: 23px;
	display: block;
}
.language-switcher-locale-url li.vi a {
	background: url("../images/flag-vn.png") no-repeat scroll 0 0 transparent;
}
.language-switcher-locale-url li.en a,  .language-switcher-locale-url li.en span{
     background: url("../images/flag-en.png") no-repeat scroll 0 0 transparent;
 }
/*
 * Breadcrumb
 */
.breadcrumb a{
	text-transform: uppercase;
	color: #62605f;
}
.breadcrumb a:hover {
	color: #f88510;
}

/*
 * Sidebar-first
 */
.region-sidebar-first h2.block-title {
	text-transform: uppercase;
	color: #fff;
	background-color: #a62d1d;
	padding: 10px 15px;
    font-family: "MYRIADPROREGULAR";
    font-size: 20px;
}

h1.title{
    font-family: "MYRIADPROREGULAR";
}
.region-sidebar-first h2.block-title:before {
	content: ">";
	display: inline;
	padding: 0 10px 0 0;
}
.region-sidebar-first .block {
	margin: 0 0 40px 0;
}
.region-sidebar-first .block-inner .content {
	border: 1px solid #c9c6c6;
	background-color: #ffffff;
	padding: 20px;
}

#block-menu-menu-left-menu ul.menu li {
	margin: 0 0 10px 0;
}
#block-menu-menu-left-menu ul.menu li:before,
#block-views-news-list-block .views-row a:before {
	content: ">";
	display: inline;
	padding: 0 10px 0 0;
	font-size: 16px;
}
#block-menu-menu-left-menu ul.menu li:before {
	color: #bb2e1b;
}
#block-menu-menu-left-menu ul.menu a {
	color: #bb2e1b;
	text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
#block-menu-menu-left-menu ul.menu a:hover,
#block-menu-menu-left-menu ul.menu a.active {
	color: #62605f;
}
#block-views-news-list-block .views-row {
	margin: 0 0 10px 0;
}
#block-views-news-list-block .views-row a {
	color: #62605f;
	font-size: 13px; 
}
#block-views-news-list-block .views-row a:hover,
#block-views-news-list-block .views-row a.active {
	color: #bb2e1b;
}
#block-views-news-list-block .views-row a:before {
	color: #62605f;
}


/*
 * Branding
 */
.region-branding .branding-data {
	float: left;
}
.region-branding .block-views-exp-search-page {
	float: right;
	margin: 40px 0 0;
}
 
/*
 * Form search
 */
#views-exposed-form-search-page .views-submit-button {
    float: right;
    right: 0;
    top: 0;
    z-index: 10;
    width: 6px;
}
#views-exposed-form-search-page .views-submit-button input {
	background: url("../images/btn-searc-bg.png") no-repeat scroll 0 3px transparent;
	width: 30px;
	height: 30px;
    margin-top: 1px;
    font-size: 0;
    margin-left: -24px;
}
#views-exposed-form-search-page .views-submit-button input:hover {
	background: url("../images/btn-search-hover.png") no-repeat scroll 0 3px transparent;
}
#views-exposed-form-search-page .views-exposed-widget {
	padding-right: 0;
}
#views-exposed-form-search-page .form-item input {
	box-shadow: 5px 5px 10px #c5cbc6;
	-webkit-box-shadow: 5px 5px 10px #c5cbc6;
	-moz-box-shadow: 5px 5px 10px #c5cbc6;
	-ms-box-shadow: 5px 5px 10px #c5cbc6;
	-o-box-shadow: 5px 5px 10px #c5cbc6;
}

/*
 * Main-menu
 */
.navigation {
	margin: 12px 0 0;
}
#main-menu {
	background-color: #a62d1d;
	display: block;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	padding: 15px 20px;
}
#main-menu li {
	border-right: 2px solid #fff;
	padding: 18px 30px;
	line-height: 21px;
}
#main-menu li:last-child {
	border: none;
}
#main-menu li a {
	text-transform: uppercase;
    font-family: "MYRIADPROREGULAR";
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
}
#main-menu li a:hover,
#main-menu li a.active {
	color: #f88510;
}

/*
 * Footer
 */
.section-footer {
	background-color: #fff;
	padding: 10px 0;
    margin-top: 20px;

}
#block-block-1 .fotter-info{
	text-transform: uppercase;
	font-size: 20px;
}
#block-block-1 .copy-right {
	margin: 10px 0 0;
}
#block-block-2 p{
    font-family: "phosphateinline";
}

/*
 * Page News
 */
.view-news .views-row {
	border-bottom: 1px solid #c9c6c6;
	margin: 10px 0;
}
.view-news .views-row:last-child {
	border: none;
}
.view-news .views-field-field-image {
	float: left;
	margin: 0 20px 20px 0;
	width: 30%;
}
.view-news .views-field-field-image img {
	width: 100%;
	height: auto;
}
.view-news .views-field-field-image:hover {
	border: 1px solid #f88510;
}
.view-news .views-field-view-node {
	clear: right;
	float: right;
}
.view-news .views-field-title a {
	font-weight: bold;
	font-size: 18px;
	color: #333;
}
.view-news .views-field-title a:hover {
	color: #f88510;
}
/*
 * Node news detail 
 */
.node-article .field-name-field-image {
	margin: 0 0 20px 0;
}
/*
 * Contact
 */
.webform-client-form .form-item {
}
.webform-client-form .form-item label {
	width: 120px;
	display: inline-block;
}
.webform-client-form .form-item input,
.webform-client-form .form-item textarea{
	width: 300px;
}
.webform-client-form .form-item textarea {
	resize: none;
	height: 150px;
}
.webform-client-form .webform-component-textarea .grippie {
	display: none;
}
.container-12 .views-row.grid-3{
    width:256px;
}
.front .container-12 .views-row.grid-3{
    width:265px;
}
#zone-footer{
    margin-top: 20px;
}
/**
Home page
*/
#region-content h2.block-title{
    font-family: "MYRIADPROREGULAR";
    font-size: 36px;
}
.front h1.title{
    display: none;
}
.front #block-views-feature-project-block-1 .content{
    background: #fff;
    box-shadow: 5px 5px 3px #888888;
    color: #878383;
    border: 1px solid #bcb9b9;
}
.front #block-system-main{
    background: none;
    box-shadow: none;
    display: none;
}

ul li.translation_vi, ul li.translation_en{
    display: none!important;
}
.front .flexslider{
    margin: 0 0 20px;
}
.breadcrumb {
    padding-bottom: 1.5em;
}
.view-id-search .views-row,
.view-project .views-row,
.view-feature-project .views-row,
.view-all-project .views-row {
	margin: 15px 13px 60px;
	text-align: center;
  	text-transform: uppercase;
}
.view-id-search .views-row:nth-child(3n+1),
.view-project .views-row:nth-child(3n+1),
.view-feature-project .views-row:nth-child(3n+1),
.view-all-project .views-row:nth-child(3n+1) {
	clear: left;
}
.view-id-search .views-field-title a,
.view-project .views-field-title a,
.view-feature-project .views-field-title a,
.view-all-project .views-field-title a {
	color: #696767;
	font-size: 18px;
}

.view-id-search .views-field-title a:hover,
.view-project .views-field-title a:hover,
.view-feature-project .views-field-title a:hover,
.view-all-project .views-field-title a:hover {
	color: #a62d1d
}

.view-id-search .views-field-title,
.view-project .views-field-title,
.view-feature-project .views-field-title,
.view-all-project .views-field-title {
	margin: 15px 0 25px;
}

.view-id-search .views-field-view-node a,
.view-project .views-field-view-node a,
.view-feature-project .views-field-view-node a,
.view-all-project .views-field-view-node a{
	color: #fff;
	font-size: 16px;
	background: #a62d1d;
	padding: 10px 20px;
}

.view-id-search .views-field-view-node a:hover,
.view-project .views-field-view-node a:hover,
.view-feature-project .views-field-view-node a:hover,
.view-all-project .views-field-view-node a:hover {
	color: #f88510;
}


/*
 * Link Du An page
 */
#views-exposed-form-project-page,#views-exposed-form-all-project-page {
	padding: 10px;
}
#views-exposed-form-project-page .form-item, #views-exposed-form-all-project-page .form-item {
	float: left;
	margin: 0 10px;
}
#views-exposed-form-project-page .form-item:first-child, #views-exposed-form-all-project-page .form-item:first-child {
	margin-left: 0;
}
#views-exposed-form-project-page .form-item a,#views-exposed-form-all-project-page .form-item a {
	color: #a62d1d;
	text-transform: uppercase;
	font-size: 18px;
    padding: 8px 15px;
}
#views-exposed-form-project-page .form-item a:hover,
#views-exposed-form-project-page .form-item a.active,
#views-exposed-form-all-project-page .form-item a:hover,
#views-exposed-form-all-project-page .form-item a.active {
	color: #fff;
	background: #a62d1d;
}
#edit-type-all{
    display: none;
}
#block-block-4{
    width: 200px;
    float: right;
}
ul.social-network{
    float:right;
    margin: 40px 20px 0 0;
}
ul.social-network li{
    float:left;
}
#block-block-5{
    width: 370px;
    float:left;
    margin: 50px 0 0 60px;
}
ul.phone-number-header{
    float:right;
}
ul.phone-number-header li:first-child{
    float:left;
    margin-right: 60px;
}
ul.phone-number-header li{
    float: right;
    background: url(../images/phone-icon.png) no-repeat left center;
    height: 30px;
    padding-left: 37px;
    font-size: 18px;
    font-family: sans-serif;
    color:#a62d1d;
    font-weight: bold;
}
#block-block-2{
    position: relative;
    top: 50px;
    left: 214px;
}
#section-header{
    margin-top: -36px;
}

.node-links ul li a, .comment-links ul li a {
    text-transform: lowercase;
    display: block;
    float: left;
    text-decoration: none;
    background-clip: padding-box;
    margin: 0 0.5em 0.5em 0;
    vertical-align: middle;
    /* border-radius: 11px; */
    /* background: #ddd url(../images/button.png) repeat-x; */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd)); */
    background: none;
    border: 0;
    /* border-color: #ddd #bbb #999; */
    cursor: pointer;
    color: #333;
    font: bold 12px/1.2 Arial, sans-serif;
    outline: 0;
    overflow: visible;
    padding: 4px 10px 3px;
    text-shadow: #fff 0 1px 1px;
    width: auto;
}
ul.year-category li{
    margin: 0 0 10px 0;
}
ul.year-category li:before{
    content: ">";
    display: inline;
    padding: 0 10px 0 0;
    font-size: 16px;
    color: #bb2e1b;
}

ul.year-category li a{
    color: #bb2e1b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
ul.year-category li a:hover, ul.year-category li a.active{
    color: #62605f;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
    border-radius: 0;
    background: #a62d1d;
    cursor: pointer;
    color: #fff;
    font: bold 14px/1.2 Arial, sans-serif;
    outline: 0;
    overflow: visible;
    padding: 3px 10px 4px;
    text-shadow: none;
    width: auto;
    padding: 10px;
    border: 0;
    margin-left: 368px;
}
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
    border-radius: 0;
    background: #a62d1d;
    cursor: pointer;
    color: #fff;
    font: bold 14px/1.2 Arial, sans-serif;
    outline: 0;
    overflow: visible;
    padding: 3px 10px 4px;
    text-shadow: none;
    width: auto;
    padding: 10px;
    border: 0;
}

.item-list ul.pager {
    border: none;
    background: none;
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-size: 10px;
    text-align: center;
    width: 100%;
}

ul.pager li {
    border: 0;
    background: none;
    border-radius: 0;
    color: #a8a8a8;
}

ul.pager li a {
    background: none;
    font-size: 14px;
    color: #a8a8a8;
    font-weight: normal;

}

ul.pager li.pager-current {
    background: none;
    color: #f44043;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
}

.pager li.pager-next {
    border: none
}

.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
    width: 42px;
    text-align: center;
    padding: 4px 0;
}

.pager li.pager-next {
    position: relative;
    top: 0;
    right: -3px;
}
.pager li.pager-last, .pager li.pager-next.last {
    position: relative;
    top: 0;
    /* right: 0; */
    border-right: 0;
}

.view-header{
    font-size: 16px;
}